<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="/js/main.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <title>Slidar</title>
</head>

<body>
    <div id="presentation"></div>

    <span id="time"></span>
    <span id="index">1</span>

    <div id="progress"></div>
    <div id="timeline"></div>
</body>

</html>
